<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>62860688485-p3r7ctmh6ig8864ctmu6baruj2hlvh0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62860688485-p3r7ctmh6ig8864ctmu6baruj2hlvh0p</string>
	<key>API_KEY</key>
	<string>AIzaSyBL53_UAC6SFFdRcRXiMm2uM6W1kwafxZA</string>
	<key>GCM_SENDER_ID</key>
	<string>62860688485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rosehulman.chakrap.PhotoBucket</string>
	<key>PROJECT_ID</key>
	<string>photo-bucket-3bd86</string>
	<key>STORAGE_BUCKET</key>
	<string>photo-bucket-3bd86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62860688485:ios:523803eeac333134</string>
	<key>DATABASE_URL</key>
	<string>https://photo-bucket-3bd86.firebaseio.com</string>
</dict>
</plist>